.nuestrostrabajos_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 60px;
}

.conteiner {
  z-index: 5;
}
.carrousel_img button {
  background-color: transparent;
  border-style: none;
}
.carrousel_triple {
  display: flex;
  justify-content: center;
  width: 80vh;
}

.carrousel_triple img {
  width: 150vh;
  margin: 12px;
}
.carrousel_img img {
  width: 180px;
  object-fit: cover;
  object-position: center center;
}

/* Decoration */

.hojas_deco2 {
  width: 300px;
  position: absolute;
}

.hojas_deco2.izq {
  left: 0px;
  opacity: 0.2;
  margin-bottom: 200px;
}

.hojas_deco2.der {
  right: 0;
  margin-top: 200px;
  opacity: 0.2;
}

/* Media Query para pantallas con un ancho máximo de 800px */
@media (max-width: 800px) {
  .nuestrostrabajos_container h1 {
    font-size: 40px;
    padding-bottom: 50px;
  }
  .carrousel_triple {
    width: 35vh;
    margin-bottom: 5px;
  }

  .carrousel_triple img {
    width: 12vh;
    margin: 0px;
  }

  .hojas_deco2 {
    width: 200px;
    position: absolute;
  }

  .hojas_deco2.izq {
    left: -40px;
    opacity: 0.2;
    margin-bottom: 545px;
    display: none;
  }

  .hojas_deco2.der {
    right: 0;
    margin-top: 500px;
  }
}
