.navbar_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(19, 19, 19, 0.535);
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  backdrop-filter: blur(3px);
}
.navbar_container img {
  width: 140px;
}
.img_hojas {
  visibility: visible;
}

.img_hojas.hide {
  visibility: hidden;
}
/* Scroll */
.navbar_container.scroll {
  display: none;
}
.links_navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.links_navbar a {
  text-decoration: none;
  margin-right: 20px;
  font-size: medium;
  cursor: pointer;
  margin: auto;
}
.links_navbar img {
  width: 100px;
}
.nav_text {
  width: 170px;
}
/* ---MediaButton--- */
.media_menu {
  display: none;
  margin-right: 0px;
}
.media_menu img {
  width: 20px;
}
.media_menu button {
  background-color: transparent;
  border-style: none;
}
.media_menu_close {
  display: none;
}
.media_menu_close {
  background-color: transparent;
  border-style: none;
  width: 100%;
  text-align: right;
}
.media_menu_close img {
  width: 20px;
  margin-bottom: 5px;
  margin-right: 40px;
}
.nav_logo_hide {
  display: none;
}
@media (max-width: 1050px) {
  .media_menu {
    display: block;
  }
  .media_menu img {
    width: 25px;
    margin-right: 40px;
  }
  .media_menu_close {
    display: block;
  }
  .links_navbar {
    opacity: 0;
    visibility: hidden;
  }

  .links_navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40%;
    top: 80px;
    margin-left: auto;
    background-color: rgb(66, 65, 65);
    height: 2050px;
    padding-top: 0px;
    padding-right: 0px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .links_navbar.visible {
    opacity: 1;
    visibility: visible;
  }
  .media_menu.visible {
    display: none;
  }
  .links_navbar a {
    padding: 3px;
    font-size: 16px;
    text-align: end;
    color: white;
    margin: 0px;
  }

  .nav_logo_hide {
    display: block;
    margin-left: 10%;
  }
}
@media (max-width: 500px) {
  .links_navbar {
    width: 66%;
  }
  .nav_logo_hide img {
    margin-left: 20px;
  }
  .media_menu {
    margin-right: 20px;
  }
}
.nav_logo img {
  width: 150px;
}

.nav_logo.hide {
  display: none;
}
