.footer-container {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
}
.footer-container button {
  background-color: transparent;
  border-style: none;
}
.footer_left img {
  margin: 10px;
  width: 30vh;
}
.redes {
  display: flex;
  justify-content: space-around;
}
.redes img {
  width: 50px;
}
.info_dev {
  display: flex;
  justify-content: center;
  background-color: white;
}
.info_dev p {
  color: rgb(132, 130, 130);
}

/* Anchos */
.footer_text {
  width: 200px;
}
.footer_left {
  width: 200px;
}
.footer_right {
  width: 200px;
}

@media (max-width: 600px) {
  .footer-container p {
    font-size: 13px !important;
  }
}
@media (max-width: 700px) {
  .footer_text {
    display: none;
  }
  .footer_left {
    padding-top: 30px;
  }
  .footer_right {
    padding-top: 50px;
  }
}
@media (max-width: 470px) {
  .redes {
    flex-direction: column;
    justify-content: center;
  }
  .redes img {
    width: 30px;
  }
  .footer-container {
    align-items: flex-start;
    margin-top: 55px;
    height: 25vh;
  }
  .footer_right {
    margin-left: 40px;
    width: auto;
  }
  .footer_left img {
    margin-top: 0px !important;
    margin: 20px;
  }
  .footer_left {
    width: auto;
  }
  .info_dev p {
    margin-bottom: 0px !important;
  }
}
