.reseñas_container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: rgb(255, 255, 255);
  height: 70vh;
}
.ig img {
  width: 20vw;
}
.ig {
  display: flex;
  flex-direction: column;
}
.cards img {
  width: 350px;
}
.map {
  width: 320px;
  height: 350px;
}
@media (max-width: 1560px) {
  .reseñas_container {
    flex-direction: column;
    height: 100vh;
    width: 99vw;
  }

  .divider {
    display: none;
  }
}
