body {
  background-color: rgb(37, 37, 37);
  color: white;
  font-family: "Urbanist", sans-serif;
}
body h3 {
  font-size: 50px;
}

@media (max-width: 500px) {
  body h3 {
    font-size: 30px !important;
  }
  body p {
    font-size: 18px !important;
  }
}
